body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
    width: 100%;
}

html {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    margin: 0;
    gap: 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2.5em;
    font-size: 18px;
    padding: 12px;
    margin: 0px 0px 0px 8px;
}

.hero {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #1f2937;
    padding: 4em 6em 4em 6em;
    flex-basis: 0;
    gap: 2em;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #f9faf8;
    gap: 1;
}

.hero-left h1 {
    font-size: 48px;
    margin: 0;
}

.hero-left p {
    display: flex;
    margin-top: 0px;
}

.hero-right {
    display: flex;
    width: 50%;
    flex: 1;
}

.hero-right img {
    display: flex;
    margin: 0px 0px 0px 10px;
    padding: 10px;
}

img {
    max-width: 100%;
}

.hero-button {
    background-color: #3882f6;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    width: 25%;
    font-size: 16px;
    font-weight: 800;
}

.hero-button:hover {
    background-color: #0f63e9;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.content {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    padding: 10px;
    margin: 12px;
    margin-bottom: 3em;
}

.square {
    display: flex;
    flex-direction: column;
}

.main .main-content .content .square img {
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.testimonial {
    width: 100%;
    background-color: #E5E7EB;
    height: 12em;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 80%;
}

.quoter {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
    font-style: normal;
    margin-top: -20px;
    padding: 0px 40px 0px 0px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 5em;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #3882f6;
    padding: 1em 5em;
    border-radius: 8px;
    color: #E5E7EB;
}

.banner-left h3 {
    margin: 20px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

.banner-left h4 {
    margin: 0px 0px 10px 0px;
    padding: 8px;
    font-size: 14px;
    font-style: normal;
}

.banner-right button {
    background-color: #3882f6;
    margin: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #f9faf8;
    width: 100%;
    font-size: 16px;
    font-weight: 800;
}

.banner-right button:hover {
    background-color: #0f63e9;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1f2937;
    color: #E5E7EB;
}
